[flake8]
exclude =
    .venv
    .pypy_cache
    .pytest_cache
    .coverage
    .tox
    docs
    examples
    tests/e2e/django
max-line-length = 88
max-doc-length = 130
indent-size = 4
disable-noqa = False
statistics = True
color = always
per-file-ignores =
    __init__.py:F401
    *test_*.py:E501,F401
    *tests/integration/test_workers.py:W293,E501
